@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Zain:wght@200;300;400;700;800;900&display=swap");

.speakers {
  display: flex;
  flex-wrap: wrap;
}

.speakers:hover > .block::after,
.speakers.active > .block::after {
  opacity: 1;
}

.block {
  width: 15.975rem;
  height: 23.125rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 3rem 7.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  filter: blur(5px);
  transform: translateX(100%);
  opacity: 0;
  transition: filter 1s, transform 1s, opacity 1s;
}

.block:nth-child(2) {
  transition-delay: 200ms;
}
.block:nth-child(3) {
  transition-delay: 300ms;
}
.block:nth-child(4) {
  transition-delay: 400ms;
}
.block:nth-child(5) {
  transition-delay: 500ms;
}
.block:nth-child(6) {
  transition-delay: 600ms;
}
.block:nth-child(7) {
  transition-delay: 700ms;
}

.show {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

.block:hover::before,
.block.active::before {
  opacity: 1;
}

.block::before,
.block::after {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 500ms;
  content: "";
  border-radius: inherit;
  z-index: 2;
}

.block::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.block::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.block > .block-border {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
  z-index: 1;
}

.block > .block-content {
  background-color: rgb(23, 23, 23);
  border-radius: inherit;
  margin: 1px;
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  z-index: 2;
}

.image {
  /* border: 1px solid white; */
  width: 13em;
  height: 17em;
  position: relative;
  z-index: 4;
}

#AkashImg {
  background: no-repeat url(../Images/SpeakerPhotos/AkashTandon.png);
  background-size: cover;
}

#AnitaImg {
  background: no-repeat url(../Images/SpeakerPhotos/AnitaAnand.png);
  background-size: cover;
}
#SajjuImg {
  background: no-repeat url(../Images/SpeakerPhotos/SajjuJain.png);
  background-size: cover;
}
#AnandaImg {
  background: no-repeat url(../Images/SpeakerPhotos/AnandaHota.png);
  background-size: cover;
}
#SoumyadeepImg {
  background: no-repeat url(../Images/SpeakerPhotos/SoumyadeepMukherjee.png);
  background-size: cover;
}
#GauravImg {
  background: no-repeat url(../Images/SpeakerPhotos/GauravBarhadiya.png);
  background-size: cover;
}
.block .content {
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  z-index: 4;
  text-transform: uppercase;
}

.block .content p {
  margin-bottom: 0.3rem;
}
