@media (max-width: 58.75rem) {
  body {
    overflow-x: hidden;
  }
  .layout {
    background: no-repeat url(../Images/ContactUsPortrait.svg);
    background-size: cover;
  }
  .layout .block {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem 1rem 8rem 1rem;
  }

  .layout .block h1 {
    font-size: 2rem;
  }
  .layout .block p {
    font-size: 0.85rem;
  }
  .input {
    display: flex;
    flex-direction: column;
  }
  .layout .block form input,
  .layout .block form textarea {
    font-size: 0.85rem;
    width: 12rem;
  }

  .layout .block form input::placeholder,
  .layout .block form textarea::placeholder {
    font-size: 0.75rem;
  }
  .layout .block form textarea {
    width: 13rem;
  }
  span {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }

  .layout svg {
    height: 12rem;
  }
  .layout .svg1 {
    left: 0rem;
    top: 4rem;
  }
  .layout .svg2 {
    left: 12rem;
    bottom: -1rem;
  }
}

@media (max-width: 28.125rem) {
}
