@media (max-width: 990px) {
  nav .navbar .menu {
    gap: 1vw;
  }
}

@media (max-width: 940px) {
  .heading {
    width: 100vw;
    display: grid;
    flex-direction: column;
    gap: 0rem;
  }

  .heading p {
    justify-self: center;
  }
  .change {
    width: 100vw;
    height: 28px;
    display: grid;
  }
}

@media (max-width: 450px) {
  .description {
    flex-direction: column;
    display: flex;
    margin: 5vw 16vw;
    gap: 13vw;
  }

  .heading p {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }
}
