@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");

.ham {
  color: white;
}

#sidebar {
  display: none;
}

.open-sidebar,
.close-sidebar {
  display: none;
  padding: 1.5rem 1rem;
  transform: scale(1.3);
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

nav {
  --background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 75px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  z-index: 9;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: var(--background);
  transition: background-color 0.3s;
}

.stick {
  --background: black;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: transparent;
  margin-right: auto;
}

nav .navbar .menu {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 2vw;
}
.logo {
  margin-right: auto;
}
.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a {
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

#Register {
  background-color: red;
  padding: 0.5rem;
  border-radius: 10px;
}
