* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: sans-serif;
}
nav {
  background-color: black !important;
}

#formSpace {
  height: calc(100vh + 4.6875rem);
  width: 100vw;
  background: no-repeat url(../Images/BlackBackground.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 4rem; */
}

.formBox {
  width: 23.75rem;
  min-height: 32rem;
  height: 35rem;
  position: relative;
  background: white;
  padding: 5px;
  overflow: hidden;
}

.btnBox {
  width: 13.75rem;
  border-radius: 30px;
  margin: 2rem auto;
  position: relative;
  box-shadow: 0 0 20px 9px #30cbff3b;
}

.toggleBtn {
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
}

#regText {
  color: black;
}

#btnColor {
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #2e9ee0, #3f7fe3);
  border-radius: 30px;
  transition: all 0.5s;
}

.input {
  position: absolute;
  width: 17.5rem;
  transition: all 0.5s;
}

.inputField {
  width: 100%;
  padding: 5px 0;
  margin: 6px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.inputName {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.inputName .block {
  display: flex;
  flex-direction: column;
}

.submit {
  display: block;
  margin: 1.5rem auto 0.5rem auto;
  background: linear-gradient(to right, #2e9ee0, #3f7fe3);
  color: white;
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 30px;
}

#login {
  left: 50px;
  top: 12rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#validate_form {
  left: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#validate_form p,
#login p {
  font-size: 0.7rem;
}

#validate_form p #link,
#login p #link {
  color: #3281ff;
  cursor: pointer;
  left: 0 !important;
}

#validate_form .input-value {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox {
  align-self: baseline;
  margin: 0.6rem 2.3rem;
}

.checkbox label {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.checkbox label input {
  font-size: 0.7rem;
  height: 0.7rem;
  width: 0.7rem;
}
