* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
nav {
  background-color: black !important;
}

canvas,
section {
  display: flex;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;
}

#canvas1 {
  position: fixed;
  width: 100%;
  height: fit-content;
  background: black;
}

#members {
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 5rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: 0.5s;
}

.container {
  position: relative;
  z-index: 3;
}

#members h1 {
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url(../Images/backgroundText.svg);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 40s linear infinite;
  align-self: start;
  font-size: 4rem;
  line-height: 8rem;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.layout .box {
  position: relative;
  width: 21rem;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.image {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  border: 4px solid rgba(0, 0, 0, 0.2);
}

.image img {
  aspect-ratio: 1/1;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 10px;
}

.layout .box:hover .image img,
.layout .box.active .image img {
  opacity: 0.5;
}

.glass img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 70%;
  transition:  all 0.5s;
  border-radius: 10px;
  margin-bottom: 10px; 
}

/* Keyframes for fade-out */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/* Keyframes for fade-in */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Fade out effect on hover */
.glass:hover img,
.glass:hover #slide1 {
  animation: 1s fadeOut 2s forwards;
}

.intro {
  position: absolute;
  margin: 2rem;
  opacity: 0;
}

.glass:hover .intro {
  animation: 1s fadeIn 2s forwards;
}

.box .glass ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 5px;
}
.box .glass ul a {
  text-decoration: none;
  color: #fff8;
  font-size: 1.25em;
  scale: 0;
  transition: 0.25s;
  transition-delay: scale calc(0.2s * var(--i));
}

.box .glass:hover ul a,
.box .glass.active ul a {
  scale: 1;
}
.box .glass ul a:hover,
.box .glass ul a.active {
  color: #ffff;
}
.box .glass h3 {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 0.8em;
}

.box .glass h3 span {
  font-weight: 400;
  font-size: 0.6em;
}
.layout .box .glass {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  height: 26rem;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  scale: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: -1.5rem;
  transition: 0.5s;
}
.layout .box .glass::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
}
.layout .box:hover,
.layout .box.active {
  transform: rotate(-15deg);
}

.layout .box:hover .glass,
.layout .box.active .glass {
  opacity: 1;
  transform: rotate(20deg);
  scale: 1;
}

#footer {
  position: relative !important;
}
